body{
    color: #8c8c8c;
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    clear: both;
}

.body{
    margin-bottom: 10%;
}

.brand{
    padding: 40px;
    vertical-align: middle;
}



